*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    cursor: url(img/sword.png), auto;
    background-color: black;
    color: aliceblue;
    background-image:url(img/tibiaa.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
}


a{
    color: aliceblue;
    text-decoration: none   ;
}

ul{
    list-style: none;
}

.container{

    width: 90%;
    margin: auto;
}

/* navigation*/

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    
}

.nav-brand{
    width: 50px;
}

/* nav left*/

.nav-main ul{
    display: flex;
}

.nav-main ul li {
    
    padding: 10px;

}

.nav-main ul li a{

    padding: 10px;
}


.nav-main ul li a:hover{

    border-bottom: 2px solid #ffff;
}

.nav-main ul.nav menu {

    flex: 1;
    margin-left: 20px;
}


/*showcase*/

hr{
    margin: 10px 0;
}

.showcase{

    width: 100%;
    height: 500px;
    background: url('./img/tibiak.jpg') no-repeat center center/cover;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


}

.btn{

    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background:rgb(0, 0, 0);
    color:aliceblue;
    font-size: 15px;
    border: 1px solid crimson ;
    margin: 10px 0;

}



.btn:hover {
    opacity: .50;
}

.showcase h2, 
.showcase p {

      margin-bottom: 10px;
}

/* news cards*/

.news-cards{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.news-cards img {
    width: 100%;
    height: 180px;
    cursor: pointer;
    
    

}

.news-cards img:hover{

    cursor:pointer;
    opacity: .7;
}

.news-cards h3 {
   
    font-size: 20px;
    margin: 10px 0;

}

.news-cards a {

    padding: 10px 0;
    color:aliceblue;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
  
    text-decoration: underline;

}

/* cards-banner-one*/

.cards-banner-one{
     
    width: 100%;
    height: 350px;
    background: url('./img/banner3.jpg') no-repeat center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content{

    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffff;

}

.cards-banner-one p, 
.cards-banner-one h2 {

    margin: 10px 0 20px 0;
}


/*cards banner two*/
.cards-banner-two{
    width: 100%;
    height: 350px;
    background:url('./img/taberna.jpg') no-repeat center/cover;
    margin-bottom: 40px;
}


.cards-banner-two .content{

    width: 50%;
    padding: 100px 0 0 30px;
    

}

/*social*/

.social{

    margin: 50px;

}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{

    margin: 0 30px;

}

.links a i {

    font-size: 5rem;
}

/* footer links*/

.footer-links{
     
    background-color: black;
    color:darkgrey;
    font-size: 12px;
    padding: 35px 0;
    
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{

    margin:0 auto;
}

.footer-container ul li{

    line-height: 2.9;
}

.footer{

    background:darkcyan;
    color: aliceblue;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}


